---
import Navigation from "../components/Navigation.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GreenFrog: Oh no, you broke it</title>
        <link rel="stylesheet" href="/styles/index.css" />
        <link rel="icon" href="/greenfrog.webp" />
    </head>
    <body>
        <Navigation />
        <header>
            <div class="wrap">
                <h1>404 | Oh no, you broke it</h1>
                <img src="/thisisfine.webp" alt="This is fine" />
            </div>
        </header>
    </body>
</html>
