---
import Card from "../components/Card.astro";
import Header from "../components/Header.astro"
import Navigation from "../components/Navigation.astro"
import docs from "../stores/docs.json"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFrog: Minecraft Software</title>
	<link rel="icon" href="/greenfrog.webp">
    <script src="/js/views.js" defer></script>
	<link rel="stylesheet" href="styles/index.css">
</head>
<body>
	<Navigation />
    <Header />
    <main>
        <h1>
            Documentation
        </h1>
        <div class="docs-cards">
            {
                docs.map(doc => (
                    <Card 
                        title={doc.name}
                        desc={doc.desc}
                        type="document"
                        href={doc.href}
                    />
                ))
            }
        </div>
        <h1>
            Features
        </h1>
        <div class="feature-cards">
            <Card 
                title="Performance"
                desc="GreenFrog provides a fast experience using the bedrock-protocol and a stable code built form scratch."
                type="feature"
            />
            <Card 
                title="Vanilla Gameplay"
                desc="You can take advantage of the Minecraft Vanilla gameplay without coding it."
                type="feature"
            />
            <Card 
                title="Type Safe"
                desc="By default, GreenFrog isn't type safe, but you can make it type safe by following the documentation steps using TypeScript."
                type="feature"
            />
        </div>
        
    </main>
</body>
</html>