---
import Card from "../components/Card.astro";
import Header from "../components/Header.astro"
import Navigation from "../components/Navigation.astro"

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFrog: Minecraft Software</title>
	<link rel="icon" href="/greenfrog.webp">
    <script src="/js/views.js" defer></script>
	<link rel="stylesheet" href="styles/index.css">
</head>
<body>
	<Navigation />
    <Header />
    <main>
        <h1>
            Features
        </h1>
        <div class="docs-cards">

        </div>
        <div class="feature-cards">
            <Card 
                title="Performance"
                desc="GreenFrog provides a fast experience using the bedrock-protocol and a stable code built form scratch."
                type="feature"
            />
            <Card 
                title="Vanilla Gameplay"
                desc="You can take advantage of the Minecraft Vanilla gameplay without coding it."
                type="feature"
            />
        </div>
        <h1>
            Documentation
        </h1>
        <div class="docs-cards">
            <Card 
                title="Installation"
                desc="Guide on how to install GreenFrog step by step."
                type="document"
                href="/docs/installation"
            />
            <Card 
                title="Getting Started"
                desc="Create your first Minecraft Server."
                type="document"
                href="/docs/getting-started"
            />
            <Card 
                title="Plugins"
                desc="Creating your first plugin with the basic events..."
                type="document"
                href="/docs/plugins"
            />
            <Card 
                title="Health"
                desc="Change the player health."
                type="document"
                href="/docs/api/setHealth"
            />
            <Card 
                title="Teleport"
                desc="Teleport the player wherever you want."
                type="document"
                href="/docs/api/teleport"
            />
            <Card 
                title="Speed"
                desc="Make the player go faster"
                type="document"
                href="/docs/api/setSpeed"
            />
            <Card 
                title="Hunger"
                desc="Make the player starve or give it infinite food."
                type="document"
                href="/docs/api/setHunger"
            />
        </div>
    </main>
</body>
</html>