---
import Header from "../components/Header.astro"
import Navigation from "../components/Navigation.astro"

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenFrog: Minecraft Software</title>
	<link rel="stylesheet" href="styles/index.css">
	<link rel="icon" href="/greenfrog.webp">
</head>
<body>
	<Navigation />
    <Header />
    <main>
        <h1>
            Features
        </h1>
        <div class="cards">
            <div class="card">
                <div class="image">
                    <img src="/greenfrogbg.webp" alt="">
                </div>
                <div class="content">
                    <h3>
                        Speed
                    </h3>
                    <p>
                        Start your server with GreenFrog in less than a second.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="image">
                    <img src="/greenfrogbg.webp" alt="">
                </div>
                <div class="content">
                    <h3>
                        Vanilla gameplay
                    </h3>
                    <p>
                        GreenFrog provides all the features you see in vanilla Minecraft.
                    </p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>