---
---
<header>
    <div class="wrap">
        <h1>
            Make plugins with JavaScript
        </h1>
        <p>
            Minecraft Server Software for creating high-performance JavaScript gameplay.
        </p>	
    </div>
</header>