<nav>
    <div class="wrap">
        <div class="images">
            <a href="/">
                <img src="/greenfrog.webp" />
                <p>GreenFrog</p>
            </a>
        </div>

        <div class="links">
            <a href="/">Home</a>
            <a href="/">Respository</a>
            <a href="/docs/installation">Docs</a>
        </div>
    </div>
</nav>
