<nav>
    <div class="wrap">
        <div class="images">
            greenfrogmc
        </div>
        <div class="links">
            <a href="/">
                Home
            </a>
            <a href="/">
                Respository
            </a>
            <a href="/docs/installation">
                Docs
            </a>
        </div>
        <div class="buttons">
            <a href="/download" class="download">
                Download
            </a>
            <a href="/discord" class="discord">
                Discord
            </a>
        </div>
    </div>
</nav>

