---
import "/public/styles/index.css"
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GreenFrog: Minecraft Software</title>
        <link rel="icon" href="/greenfrog.webp">
        <!--
        <link rel="preload" href="/fonts/poppinsnormal.woff2" as="font" type="font/woff2" crossorigin="">
        <link rel="preload" href="/fonts/poppins-bold2.woff2" as="font" type="font/woff2" crossorigin="">
        -->
        <script src="/js/views.js" defer></script>
        <script defer>
            const toggleSection = (element) => {
                const allElements = document.querySelectorAll(element)
    
                allElements.forEach(el => {
                    if (el.style.display === 'none') {
                        el.style.display = 'flex'
                    } else {
                        el.style.display = 'none'
                    }
                })
            }
        </script>
    </head>
    <body>
        <slot />
    </body> 
</html>